# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata files
.DS_Store
Thumbs.db

# IDE & Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
